@model PYS.IdentityServer.Security.Administration.Authorize.Users.UsersViewModel

<p>
    <a asp-action="Register" asp-controller ="Account">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Names)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().AccessFailedCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Users.Count!=0){
            @foreach (var item in Model.Users) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Document)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Names)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccessFailedCount)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Cambiar Clave", "ChangePassword", new { id = item.Id })
                        </td>
                    </tr>
            }
        }
    </tbody>
</table>
